@model WebApplication1.Models.Incomes

@{
    ViewData["Title"] = "Create";
}

<a class="backToList" asp-action="Index"><i class="fas fa-arrow-circle-left"></i>Back</a>
<h1 class ="titleExIn">New Income</h1>

    <div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="inputContainer">
                    <label asp-for="Amount" class="formTitles"></label>
                    <br />
                    <input asp-for="Amount" class="inputExIn" />
                    <br />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="inputContainer">
                    <label asp-for="Description" class="formTitles"></label>
                    <br />
                    <input asp-for="Description" class="inputExIn" />
                    <br />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="inputContainer">
                    <label asp-for="Category" class="formTitles"></label>
                    <br />
                    <select asp-for="Category" class="inputExIn" asp-items="Html.GetEnumSelectList<InCategory>()"></select>
                    <br />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="inputContainer">
                    <label asp-for="Date" class="formTitles"></label>
                    <br />
                    <input asp-for="Date" class="inputExIn" />
                    <br />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="inputContainer">
                    <input type="submit" value="Create" class="btn createBtn" />
                </div>
            </form>
      
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
