.myHomeContainer {
    text-align: center;
}

.myHomeContainer {
    text-align: center;
    color:black;
}


.box {
    padding: 0px 400px 0px 400px;
    margin: 0px;
}

.inside {
    font-size: 3rem;
    border: 0.2rem solid white;
    margin: 50px 0px 50px 0px;
    color: white;
}
