@model WebApplication1.Models.Account

@{
    ViewData["Title"] = "Create";
}

<h1 class="titleExIn">Create your Account</h1>

<hr />
<div>

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="inputContainer">
            <label asp-for="Balance" class="formTitles"></label>
            <br />
            <input asp-for="Balance" class="myInput" />
            <br />

            <span asp-validation-for="Balance" class="text-danger"></span>
        </div>
        <div class="inputContainer">
            <label asp-for="SavingBalance" class="formTitles"></label>
            <br />

            <input asp-for="SavingBalance" class="myInput" />
            <br />

            <span asp-validation-for="SavingBalance" class="text-danger"></span>
        </div>
        <div class="inputContainer">
            <label asp-for="BranchList" class="formTitles"></label>
            <br />

            <input asp-for="BranchList" class="myInput" />
            <br />

            <span asp-validation-for="BranchList" class="text-danger" asp-items="ViewBag.branchs"></span>
        </div>
        <div class="inputContainer">
            <input type="submit" value="Create" class="btn loginbtn" />
        </div>
    </form>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
