@{
    ViewData["Title"] = "Home Page";
}
<style>
    .myContainer {
        font-size: 1.5rem;
        background-image: linear-gradient(to bottom right,#7707C1, #4C1185 );
        border-radius: 20px;
        color: white;
        box-shadow: 5px 10px 18px #888888;
        text-align: center;
        margin-top: 50px;
        padding:100px;
    }
</style>

<div class="text-center mt-3 myContainer">
<div class="container-fluid padding">
    <div class=" row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <button>
            <a asp-controller="Incomes" asp-action="Index">Incomes</a>
            </button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class=""></i>
            <h3>Expneses</h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class=""></i>
            <h3>Future Payments</h3>
        </div>
    </div>

</div>

    </div>
