@{
    ViewData["Title"] = "Home Page";
}

<div class="myContainer">
   
    <p class="homeText">
        Welcome Back,
    </p>
    <div class="row">
        <div class="col-sm">
            <a class="homeBtn incomesBtn" asp-controller="Incomes" asp-action="Index">My Incomes</a>
        </div>
        <div class="col-sm">
            <a class="homeBtn expenssesBtn" asp-controller="Expenses" asp-action="Index">My Expenses</a>
        </div>
        <div class="col-sm">
            <a class="homenBtn FuturepBtn">My Future Payments</a>
            </div>


        </div>

    </div>

@*<div id="myDiv"></div>*@

@section Scripts{ 

<script src="~/js/coinLore.js"></script>
}




   

