@{
    ViewData["Title"] = "Home Page";
}
<style>
    .myContainer {
        margin-top:50px;
      
    }

    .myContainer a{
        width:33%;
        color:white;
        font-size:2rem;

    }
</style>


<div class="myContainer">
    <p>
        Welcome Back,
    </p>
    <div class="row text-center padding">
       <a asp-controller="Incomes" asp-action="Index">My Incomes</a>
       <a asp-controller="Expenses" asp-action="Index">My Expenses</a>
       <a>My Future Payments</a>

           
    </div>

</div>

   

