@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-3">
<div class="container-fluid padding">
    <div class=" row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <button>
            <a asp-controller="Incomes" asp-action="Index">Incomes</a>
            </button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class=""></i>
            <h3>Expneses</h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class=""></i>
            <h3>Future Payments</h3>
        </div>
    </div>

</div>

    </div>
