@{
    ViewData["Title"] = "Home Page";
}


<div class="myHomeContainer">

    <h1 class="hometitle">
        Welcome To Web-Wallet!
    </h1>
    <div class="box">
        <p class="inside">Follow your Incomes</p>
    </div>

    <div class="box">
        <p class="inside">Follow your Expenses</p>
    </div>

    <div class="box">
        <p class="inside">Start Saving</p>
    </div>

    <div class="box">
        <p class="inside">Repeat.</p>
    </div>


    Click here to<a asp-action="Login" asp-controller="Users"> Login</a>




</div>


@section Styles{
    <link rel="stylesheet" href="~/css/Home.css"/>
}
