@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-3">
<div class="container-fluid padding">
    <div class=" row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <a asp-controller="Incomes" asp-action="Index">

            Incomes</a>
            
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
           
            <a asp-controller="Expenses" asp-action="Index">Expneses</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
        
            <a>Future Payments</a>
        </div>
    </div>

</div>

    </div>
