@{
    ViewData["Title"] = "Home Page";
}
<style>
    .myContainer {
        margin-top:50px;
      
    }

    .myContainer a{
        width:33%;
        color:white;
        font-size:2rem;

    }
    .graphCanvas{
        width:1000px;
        height:300px;
        color:green;
    }
</style>


<div class="myContainer">
   
    <p class="homeText">
        Welcome Back,
    </p>
    <div class="row">
        <div class="col-sm">
            <a class="homeBtn incomesBtn" asp-controller="Incomes" asp-action="Index">My Incomes</a>
        </div>
        <div class="col-sm">
            <a class="homeBtn expenssesBtn" asp-controller="Expenses" asp-action="Index">My Expenses</a>
        </div>
        <div class="col-sm">
            <a class="homenBtn FuturepBtn">My Future Payments</a>
            </div>


        </div>

    </div>


   

