@model WebApplication1.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}


<div class="loginContainer">
    <div class="logo">
        WebWallet <i class="fas fa-coins"></i>
    </div>

    <h1 class="Logintitle">Please login to your account</h1>


    <div>
        <div class="col-12">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="inputContainer">
                    <label asp-for="Email" class="control-label titleLogin"></label>
                    <br />
                    <input asp-for="Email" class="myInput" />
                    <br />
                    <span asp-validation-for="Email" class="errorLogin"></span>
                </div>
                <div class="inputContainer">
                    <label asp-for="Password" class="control-label titleLogin"></label>
                    <br />
                    <input asp-for="Password" class="myInput" />
                    <br />
                    <span asp-validation-for="Password" class="errorLogin"></span>
                </div>
                <div class="form-group">
                    <input class="btn loginbtn" type="submit" value="Login" />
                </div>
            </form>
            @if (ViewBag.Error != null)
            {
                <div class="text-danger">@ViewBag.Error</div>
            }
        </div>
    </div>
    <hr />

    <div class="registerComment">
        Not registered?<a asp-action="Register">Click Here</a>to Register
    </div>
</div>

@section Styles {

    <link rel="stylesheet" href="~/css/LoginRegister.css" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
