@model WebApplication1.Models.User

@{
    ViewData["Title"] = "Register";
    Layout = "_LoginLayout";
}


<div class="loginContainer">
    <div class="logo">
        WebWallet <i class="fas fa-coins"></i>
    </div>
    <h1 class="Logintitle">Register a new user</h1>
    <div>
        <div class="col-12">
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="inputContainer">
                    <label asp-for="User_first_name"  class="control-label titleLogin"> First Name</label>
                    <br />
                    <input asp-for="User_first_name" class="myInput" />
                    <br />

                    <span asp-validation-for="User_first_name" class="errorLogin"></span>
                </div>
                <div class="inputContainer">
                    <label asp-for="User_last_name" class="control-label titleLogin"> Last Name</label>
                    <br />
                    <input asp-for="User_last_name" class="myInput" />
                    <br />

                    <span asp-validation-for="User_last_name" class="errorLogin"></span>
                </div>
                <div class="inputContainer">
                    <label asp-for="Email" class="control-label titleLogin"></label>
                    <br />

                    <input asp-for="Email" class="myInput" />
                    <br />

                    <span asp-validation-for="Email" class="errorLogin"></span>
                </div>
                <div class="inputContainer">
                    <label asp-for="Password" class="control-label titleLogin"></label>
                    <br />

                    <input asp-for="Password" class="myInput" />
                    <br />

                    <span asp-validation-for="Password" class="errorLogin"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn loginbtn" />
                </div>
            </form>
            @if (ViewBag.Error != null)
            {
                <div class="text-danger">@ViewBag.Error</div>
            }
        </div>
    </div>
    <hr />

    <div class="registerComment">
        Already registered?<a asp-action="Login">Click Here</a>to Login
    </div>
</div>
@section Styles {
    <link rel="stylesheet" href="~/css/LoginRegister.css" />
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
